<div class="container">
  <div class="col-md-6">
    <div class="row">
      <div class="card text-center" style="width: 50rem; height: 30rem; border: solid; border-radius: 25px; background-color: rgb(155, 196, 238);">
         <p class="text-center card-header">Flash Card Front</p>
        <p class="card-body text-center"> This is the body of the Flash Card</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
<div class="col-md-6">
  <div class="row">
    <div class="card text-center" style="width: 50rem; height: 30rem; border: solid; border-radius: 25px; background-color: rgb(155, 196, 238);">
      <div class="card-header">
                <p class="text-center">Flash Card Back</p>
      </div>
      <div class="card-body text-center">body of text that asks a question or states some code, I wonder if it will match the size of the text i put here.....................................</div>
    </div>
  </div>
</div>
  </div>
  <hr>
  <button class="btn btn-primary" (click)="onAddFlashCard()">Add Flash Card</button>
</div>
